//Colors
$main-blue: #91ABBE;
$accent-blue: #779DBB;
$green: #98ae98;
$hover-green: #BFDABF;
$dark-grey: #43484d;
$grey: #5e6977;
$header-grey: #86939e;
$light-grey: #f9f9f9;
$lightest-grey: #dfe7ed;
$white: #fff;
$faded-white: rgba(255, 255, 255, 0.6);

//Styling
$main-font: 'Quicksand', sans-serif;;
$hover: darken($header-grey, 10%);
$border-radius: 6px;
$shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
