$blue: #39add1;
$green: #7dc855;
$grey: #5e6977;
$dark-grey: #545e6b;
$header-grey: #86939e;
$light-grey: #f9f9f9;
$lightest-grey: #dfe7ed;
$white: #fff;
$main-font : 'Roboto', sans-serif;
$hover: darken($header-grey, 10%);
