#features {
    background-color: $white;
    display: flex;
    flex-direction: row;
    padding-top: 150px;

    #laptop-image img {
        width: 100%;
        padding-right: 10%;
    }
}

#carousel {
    width: 27%;
    height: 200px;
    margin-top: 75px;
    margin-right: 40px;
    z-index: 0;
}

.learn-more {
    margin: 25px 0;

    a {
        text-decoration: none;
        font-size: 16px;
        color: $accent-blue;
        font-weight: 500;
        line-height: 16px;
    }

    .blue-arrow {
        display: inline;
        width: 6px;
        margin: -1px 10px;
    }
}
@media (max-width: 830px) {
    #features {
        flex-direction: column;
    }

    #carousel {
        width: 70%;
        margin: 5% 15%;
    }
}
@media (max-width: 768px) {
    #features {
        padding-top: 50px;
    }
}
@media (max-width: 320px) {
    #features {
        padding-bottom: 50px;
    }
}
