#main {
    background-color: $white;
    height: 935px;
    width: 85%;
    padding-top: 150px;
    text-align: center;
    margin: 0 auto;
}

#main-image {
    width: 100%;
    margin: 50px 0;
}

#info-boxes {
    display: flex;
    flex-direction: row;


    .info-box {
        height: 100px;
        margin: 20px;
        width: 29%;
    }

    .icon {
        float: left;
        margin: 30px 20px;
    }

    .icon-info {
        margin-left: 90px;
    }
}

@media (max-width: 1024px){

  #info-boxes{
    flex-direction: column;

    .info-box{
      width: 90%;
      margin: 0 auto;
    }
  }
}
