#main {
    background-color: $white;
    width: 85%;
    padding-top: 125px;
    text-align: center;
    margin: 0 auto;
}

#main-image {
    width: 100%;
    margin: 50px 0;
    border-radius: $border-radius;
}

#info-boxes {
    display: flex;
    flex-direction: row;

    .info-box {
        height: 100px;
        margin: 20px;
        width: 29%;
    }

    .icon {
        float: left;
        margin: 30px 20px;
        height: 48px;
    }

    .icon-info {
        margin-left: 90px;
    }
}
@media (max-width: 1024px) {
    #info-boxes {
        flex-direction: column;

        .info-box {
            width: 90%;
            margin: 0 auto;
        }
    }
    #main{
      padding-top: 60px;
    }
}
@media (max-width: 768px) {
    #main {
        padding-top: 50px;
        width: 90%;
    }
}
@media (max-width: 400px) {
  #main{
    width: 100%;
  }
    #main-image {
        margin: 20px 0;
    }

    #info-boxes {
        .info-box {
            padding: 10px 2px;
            width: 98%;
        }
    }
}
