#learn-more {
    background-color: $grey;
    width: 100%;
    margin-top: -75px;
    text-align: center;
}

#bottom-header {
    color: $white;
    font-size: 52px;
    font-weight: 300;
    line-height: 58px;
    padding-top: 200px;
}

#bottom-text {
    color: $faded-white;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 60px;
}

#try-it {
    color: $white;
    text-decoration: none;
    padding: 20px 30px;
    width: 180px;
    height: 60px;
    border-radius: 6px;
    border: none;
    background-color: $green;
    cursor: pointer;
    margin: 3px 50px;
    font-size: 16px;

    &:active,
    &:hover {
        background-color: $hover-green;
        transition: 0.5s ease-in-out;
    }
}

#company-list {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 100px;

    img {
        margin: 20px;
        height: 30px;
    }
}

.center.bottom {
    margin-top: 100px;
    margin-bottom: 20px;
    color: $faded-white;
}


@media (max-width: 830px){
  #bottom-header{
    padding-top: 75px;
  }
  .center.bottom{
    margin-top: 50px;
  }
}

@media (max-width: 320px){
  #bottom-header{
    font-size: 32px;
    line-height: 32px;
  }
  #bottom-text{
    font-size: 18px;
  }
}
