html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#features {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 150px; }
  #features #laptop-image img {
    width: 100%;
    padding-right: 10%; }

#carousel {
  width: 27%;
  height: 200px;
  margin-top: 75px;
  margin-right: 40px;
  z-index: 0; }

.learn-more {
  margin: 25px 0; }
  .learn-more a {
    text-decoration: none;
    font-size: 16px;
    color: #358ed7;
    font-weight: 500;
    line-height: 16px; }
  .learn-more .blue-arrow {
    display: inline;
    width: 6px;
    margin: -1px 10px; }

#footer {
  background-color: #545e6b;
  width: 100%;
  height: 285px;
  padding: 50px 80px;
  display: flex; }

#footer-logo {
  width: 30%;
  height: 70px; }

#logo {
  width: 68px;
  height: 68px;
  float: left;
  margin: 5px; }

#footer-text {
  width: 25%;
  height: auto;
  margin: 0 50px 20px 15px; }

.footer-links {
  font-family: "Roboto", sans-serif;
  margin: 0 15px; }
  .footer-links .top-link {
    color: #fff;
    font-size: 17px;
    font-weight: 400; }
  .footer-links li {
    margin: 0 10px 20px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    cursor: pointer; }

#language {
  display: flex;
  flex-direction: row;
  padding: 0 75px;
  width: 26%; }
  #language img {
    height: 15px;
    margin: 5px; }
  #language #triangle {
    height: 5px;
    margin: 10px; }

#main {
  background-color: #fff;
  height: 935px;
  width: 85%;
  padding-top: 150px;
  text-align: center;
  margin: 0 auto; }

#main-image {
  width: 100%;
  margin: 50px 0; }

#info-boxes {
  display: flex; }
  #info-boxes .info-box {
    flex-direction: row;
    height: 100px;
    margin: 20px;
    width: 29%; }
  #info-boxes .icon {
    float: left;
    margin: 30px 20px; }
  #info-boxes .icon-info {
    margin-left: 90px; }

#learn-more {
  background-color: #5e6977;
  width: 100%;
  margin-top: -75px;
  text-align: center; }

#bottom-header {
  color: #fff;
  font-size: 52px;
  font-weight: 300;
  line-height: 58px;
  padding-top: 200px; }

#bottom-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 60px; }

#try-it {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  width: 180px;
  height: 60px;
  border-radius: 6px;
  border: none;
  background-color: #7dc855;
  cursor: pointer;
  margin: 3px 50px;
  font-size: 16px; }
  #try-it:active, #try-it:hover {
    background-color: #a4d888;
    transition: 0.5s ease-in-out; }

#company-list {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 100px; }
  #company-list img {
    margin: 20px;
    height: 30px; }

.center.bottom {
  margin-top: 100px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6); }

#nav {
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  height: 100px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  #nav #header-logo {
    padding-top: 35px;
    cursor: pointer; }
  #nav li {
    display: inline;
    padding: 25px; }
  #nav a {
    color: #86939e;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none; }
    #nav a:active, #nav a:hover {
      color: #6b7a86; }

#pricing {
  background-color: #f9f9f9;
  height: 900px;
  padding-top: 70px;
  width: 100%; }

h1.menu {
  padding-bottom: 5px;
  margin-top: 0; }

.blue {
  color: #fff; }

#pricing-menu {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }
  #pricing-menu #basic {
    width: 33%;
    background: #fff;
    padding: 30px;
    margin-top: 75px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid #f9f9f9;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15); }
  #pricing-menu #pro {
    width: 33%;
    padding: 30px;
    background: #fff;
    margin-top: 75px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15); }
  #pricing-menu #business {
    width: 33%;
    padding: 30px;
    background: #39add1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    margin-top: 75px; }

.pricing-button {
  border: 2px solid #dfe7ed;
  background-color: #fff;
  color: #39add1;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  width: 100%; }
  .pricing-button:active, .pricing-button:hover {
    background-color: #dfe7ed;
    transition: 0.5s ease-in-out; }

.feature-list {
  font-family: "Roboto", sans-serif;
  color: #86939e;
  font-size: 13px;
  margin-bottom: 30px; }
  .feature-list li {
    padding-bottom: 30px; }
    .feature-list li.lighter {
      color: #dfe7ed; }
    .feature-list li.pro {
      color: rgba(255, 255, 255, 0.6); }

.list {
  display: flex;
  flex-direction: row; }

.checks {
  display: flex;
  flex-direction: column;
  padding: 0 15px; }
  .checks img {
    padding-bottom: 35px; }

.green-button {
  background: #7dc855;
  border: 2px solid #7dc855;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  width: 100%; }
  .green-button:active, .green-button:hover {
    background-color: #a4d888;
    transition: 0.5s ease-in-out; }

* {
  box-sizing: border-box; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif; }

h1 {
  color: #43484d;
  font-size: 52px;
  font-weight: 300;
  line-height: 58px;
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: center; }
  h1.pro {
    color: #fff; }

h2 {
  color: #43484d;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  padding-bottom: 20px; }

h3 {
  color: #5e6977;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  max-width: 660px;
  margin: 0 auto;
  text-align: center; }

h4 {
  color: #86939e;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  padding-bottom: 20px; }
  h4.pro {
    color: rgba(255, 255, 255, 0.6); }

h5 {
  color: #43484d;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 0;
  text-align: left; }

h6 {
  font-family: Roboto;
  color: #358ed7;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }
  h6.pro {
    color: #fff; }

p {
  color: #86939e;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; }
  p.left {
    text-align: left; }
  p.center {
    text-align: center; }
    p.center.pro {
      color: rgba(255, 255, 255, 0.6); }

hr {
  border: 0.5px solid #f9f9f9;
  margin: 20px; }
  hr.pro {
    border: 0.5px solid rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=main.css.map */
