a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#features {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 150px; }
  #features #laptop-image img {
    width: 100%;
    padding-right: 10%; }

#carousel {
  width: 27%;
  height: 200px;
  margin-top: 75px;
  margin-right: 40px;
  z-index: 0; }

.learn-more {
  margin: 25px 0; }
  .learn-more a {
    text-decoration: none;
    font-size: 16px;
    color: #358ed7;
    font-weight: 500;
    line-height: 16px; }
  .learn-more .blue-arrow {
    display: inline;
    width: 6px;
    margin: -1px 10px; }

@media (max-width: 830px) {
  #features {
    flex-direction: column; }

  #carousel {
    width: 70%;
    margin: 5% 15%; } }
@media (max-width: 768px) {
  #features {
    padding-top: 50px; } }
@media (max-width: 320px) {
  #features {
    padding-bottom: 50px; } }
#footer {
  background-color: #545e6b;
  width: 100%;
  height: 285px;
  padding: 50px 80px;
  display: flex; }

#footer-logo {
  width: 30%;
  height: 70px; }

#logo {
  width: 68px;
  height: 68px;
  float: left;
  margin: 5px; }

#footer-text {
  width: 25%;
  word-wrap: normal; }

.footer-links {
  font-family: "Roboto", sans-serif;
  margin: 0 15px; }
  .footer-links .top-link {
    color: #fff;
    font-size: 17px;
    font-weight: 400; }
  .footer-links li {
    margin: 0 10px 20px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    cursor: pointer; }

#language {
  display: flex;
  flex-direction: row;
  padding: 0 75px;
  width: 26%; }
  #language img {
    height: 15px;
    margin: 5px; }
  #language #triangle {
    height: 5px;
    margin: 10px; }

@media (max-width: 1024px) {
  .footer-links {
    display: none; } }
@media (max-width: 320px) {
  #language {
    display: none; }

  #footer {
    padding: 10px; }

  #footer-text {
    width: 80%; } }
#main {
  background-color: #fff;
  width: 85%;
  padding-top: 150px;
  text-align: center;
  margin: 0 auto; }

#main-image {
  width: 100%;
  margin: 50px 0; }

#info-boxes {
  display: flex;
  flex-direction: row; }
  #info-boxes .info-box {
    height: 100px;
    margin: 20px;
    width: 29%; }
  #info-boxes .icon {
    float: left;
    margin: 30px 20px; }
  #info-boxes .icon-info {
    margin-left: 90px; }

@media (max-width: 1024px) {
  #info-boxes {
    flex-direction: column; }
    #info-boxes .info-box {
      width: 90%;
      margin: 0 auto; } }
@media (max-width: 768px) {
  #main {
    padding-top: 50px; } }
@media (max-width: 320px) {
  #main-image {
    margin: 10px 0; }

  #info-boxes .info-box {
    padding: 10px 0;
    width: 100%; } }
#learn-more {
  background-color: #5e6977;
  width: 100%;
  margin-top: -75px;
  text-align: center; }

#bottom-header {
  color: #fff;
  font-size: 52px;
  font-weight: 300;
  line-height: 58px;
  padding-top: 200px; }

#bottom-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 60px; }

#try-it {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  width: 180px;
  height: 60px;
  border-radius: 6px;
  border: none;
  background-color: #7dc855;
  cursor: pointer;
  margin: 3px 50px;
  font-size: 16px; }
  #try-it:active, #try-it:hover {
    background-color: #a4d888;
    transition: 0.5s ease-in-out; }

#company-list {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 100px; }
  #company-list img {
    margin: 20px;
    height: 30px; }

.center.bottom {
  margin-top: 100px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6); }

@media (max-width: 830px) {
  #bottom-header {
    padding-top: 75px; }

  .center.bottom {
    margin-top: 50px; } }
@media (max-width: 320px) {
  #bottom-header {
    font-size: 32px;
    line-height: 32px; }

  #bottom-text {
    font-size: 18px; } }
#nav {
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  height: 100px;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  #nav #header-logo {
    padding-top: 35px;
    cursor: pointer; }
  #nav li {
    display: inline;
    padding: 25px; }
  #nav a {
    color: #86939e;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none; }
    #nav a:active, #nav a:hover {
      color: #6b7a86; }

.menu-toggle {
  display: none;
  float: right;
  cursor: pointer;
  position: relative;
  top: 6px;
  width: 25px;
  height: 25px; }

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: left;
  background: #fff;
  border-left: 1px solid #86939e;
  color: #86939e;
  width: 35%;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  z-index: 1; }
  .mobile-menu a {
    text-decoration: none;
    color: #86939e;
    text-align: left;
    margin: 45px; }
    .mobile-menu a:active, .mobile-menu a:hover {
      color: #6b7a86; }

.mobile-menu.open {
  transform: translateX(0%); }

.menu-close {
  text-align: right;
  width: 25px;
  height: 25px;
  margin: 10px; }

@media (max-width: 1024px) {
  #nav {
    display: none; }

  .menu-toggle {
    display: flex;
    flex-direction: row;
    float: left;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    height: 50px;
    padding: 10px 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; }

  #hamburger {
    height: 25px;
    width: 25px;
    float: right;
    margin-left: 75%; } }
@media (max-width: 768px) {
  #hamburger {
    margin-left: 65%; } }
@media (max-width: 575px) {
  .mobile-menu {
    width: 50%; }

  #hamburger {
    margin-left: 50%; } }
@media (max-width: 320px) {
  .mobile-menu {
    width: 100%; } }
#pricing {
  background-color: #f9f9f9;
  height: 900px;
  padding-top: 70px;
  width: 100%; }

h1.menu {
  padding-bottom: 5px;
  margin-top: 0; }

.blue {
  color: #fff; }

#pricing-menu {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }
  #pricing-menu #basic {
    width: 33%;
    background: #fff;
    padding: 30px;
    margin-top: 75px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid #f9f9f9;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15); }
  #pricing-menu #pro {
    width: 33%;
    padding: 30px;
    background: #fff;
    margin-top: 75px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15); }
  #pricing-menu #business {
    width: 33%;
    padding: 30px;
    background: #39add1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    margin-top: 75px; }

.pricing-button {
  border: 2px solid #dfe7ed;
  background-color: #fff;
  color: #39add1;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  width: 100%; }
  .pricing-button:active, .pricing-button:hover {
    background-color: #dfe7ed;
    transition: 0.5s ease-in-out; }

.feature-list {
  font-family: "Roboto", sans-serif;
  color: #86939e;
  font-size: 13px;
  margin-bottom: 30px; }
  .feature-list li {
    padding-bottom: 30px; }
    .feature-list li.lighter {
      color: #dfe7ed; }
    .feature-list li.pro {
      color: rgba(255, 255, 255, 0.6); }

.list {
  display: flex;
  flex-direction: row; }

.checks {
  display: flex;
  flex-direction: column;
  padding: 0 15px; }
  .checks img {
    padding-bottom: 35px; }

.green-button {
  background: #7dc855;
  border: 2px solid #7dc855;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  width: 100%; }
  .green-button:active, .green-button:hover {
    background-color: #a4d888;
    transition: 0.5s ease-in-out; }

@media (max-width: 830px) {
  #pricing {
    height: auto; }

  #pricing-menu {
    flex-direction: column;
    width: 90%; }
    #pricing-menu #basic,
    #pricing-menu #business,
    #pricing-menu #pro {
      width: 100%;
      margin-top: 1px; }
    #pricing-menu #basic {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0; }
    #pricing-menu #business {
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px; }

  .list {
    width: 80%;
    margin: 0 auto; } }
@media (max-width: 768px) {
  .feature-list {
    font-size: 15px; }

  #pricing-menu {
    margin-top: 25px; } }
@media (max-width: 320px) {
  #pricing {
    padding-top: 30px; }

  #pricing-menu #basic,
  #pricing-menu #business,
  #pricing-menu #pro {
    padding: 15px; } }
* {
  box-sizing: border-box; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif; }

h1 {
  color: #43484d;
  font-size: 52px;
  font-weight: 300;
  line-height: 58px;
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: center; }
  h1.pro {
    color: #fff; }

h2 {
  color: #43484d;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  padding-bottom: 20px; }

h3 {
  color: #5e6977;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  max-width: 660px;
  margin: 0 auto;
  text-align: center; }

h4 {
  color: #86939e;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  padding-bottom: 20px; }
  h4.pro {
    color: rgba(255, 255, 255, 0.6); }

h5 {
  color: #43484d;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 0;
  text-align: left; }

h6 {
  font-family: Roboto;
  color: #358ed7;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }
  h6.pro {
    color: #fff; }

p {
  color: #86939e;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; }
  p.left {
    text-align: left; }
  p.center {
    text-align: center; }
    p.center.pro {
      color: rgba(255, 255, 255, 0.6); }

hr {
  border: 0.5px solid #f9f9f9;
  margin: 20px; }
  hr.pro {
    border: 0.5px solid rgba(255, 255, 255, 0.2); }

@media (max-width: 768px) {
  p {
    font-size: 16px; } }
@media (max-width: 320px) {
  h1 {
    font-size: 32px;
    line-height: 32px; }

  h2 {
    font-size: 25px; }

  h3 {
    font-size: 18px; }

  h5 {
    font-size: 16px; }

  p {
    font-size: 14px; } }

/*# sourceMappingURL=main.css.map */
