#pricing {
    background-color: $light-grey;
    height: 900px;
    padding-top: 70px;
    width: 100%;
}

h1.menu {
    padding-bottom: 5px;
    margin-top: 0;
}

.blue {
    color: $white;
}

#pricing-menu {
    width: 80%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    #basic {
        width: 33%;
        background: $white;
        padding: 30px;
        margin-top: 75px;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-right: 1px solid $light-grey;
        box-shadow: $shadow;
    }

    #pro {
        width: 33%;
        padding: 30px;
        background: #f5f5f5;
        margin-top: 75px;
        box-shadow: $shadow;
    }

    #business {
        width: 33%;
        padding: 30px;
        background: $white;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        box-shadow: $shadow;
        margin-top: 75px;
    }
}

.pricing-button {
    border: 2px solid $lightest-grey;
    background-color: $white;
    color: $main-blue;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: $border-radius;
    padding: 10px;
    width: 100%;

    &:active,
    &:hover {
        background-color: $lightest-grey;
        transition: 0.5s ease-in-out;
    }
}

.feature-list {
    font-family: $main-font;
    color: $header-grey;
    font-size: 13px;
    margin-bottom: 30px;

    li {
        padding-bottom: 30px;

        &.lighter {
            color: $lightest-grey;
        }

        &.pro {
            color: $faded-white;
        }
    }
}

.list {
    display: flex;
    flex-direction: row;
}

.checks {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    img {
        padding-bottom: 31px;
    }
}

.green-button {
    background: $green;
    border: 2px solid $green;
    color: $white;
    display: inline-block;
    font-family: $main-font;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    width: 100%;

    &:active,
    &:hover {
        background-color: $hover-green;
        transition: 0.5s ease-in-out;
    }
}
@media (max-width: 830px) {
    #pricing {
        height: auto;
    }

    #pricing-menu {
        flex-direction: column;
        width: 90%;

        #basic,
        #business,
        #pro {
            width: 100%;
            margin-top: 1px;
        }

        #basic {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: 0;
        }

        #business {
            border-top-right-radius: 0;
            border-bottom-left-radius: $border-radius;
        }
    }

    .list {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .feature-list {
        font-size: 15px;
    }

    #pricing-menu {
        margin-top: 25px;
    }
    #pricing{
      padding-top: 10px;
    }
}
@media (max-width: 400px) {
    #pricing {
        padding-top: 30px;
    }

    #pricing-menu {
      width: 95%;

        #basic,
        #business,
        #pro {
            padding: 15px;
        }
    }
}
